{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "globals": {
        "it": true,
        "document": true
    },
    "rules": {
        "arrow-body-style": ["error", "as-needed"],
        "arrow-parens": [0, "error"],
        "class-methods-use-this": 0,
        "comma-dangle": ["error", "never"],
        "consistent-return": 0,
        "func-names": 0,
        "function-paren-newline": 0,
        "global-require": 0,
        "implicit-arrow-linebreak": 0,
        "import/no-cycle": 0,
        "import/no-duplicates": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": 0,
        "import/prefer-default-export": 0,
        "indent": 0,
        "jsx-a11y/img-has-alt": 0,
        "jsx-a11y/label-has-for": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "linebreak-style": ["error", "unix"],
        "lines-between-class-members": 0,
        "max-len": ["warn", 180, 4],
        "no-console": 0,
        "no-param-reassign": 0,
        "no-plusplus": 0,
        "no-undef": 0,
        "no-unused-expressions": 0,
        "no-unused-vars": 0,
        "object-curly-spacing": ["warn", "never"],
        "operator-linebreak": 0,
        "prefer-destructuring": 0,
        "react/destructuring-assignment": [0, "never"],
        "react/forbid-prop-types": [0, "never"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"]}],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/prop-types": 0,
        "react/require-default-props": 0,
        "semi": ["error", "never"],
        "space-before-function-paren": ["error", "never"]
    }
}
